html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

h1,
p {
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;
}

.bg-image {
	width: 100%;
}

.img {
	width: 100%;
	padding-top: 7em;
	padding-bottom: 7em;
	background-image: url(assets/images/illustration-sign-up-mobile.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 0 0 10px 10px;
	margin-bottom: 1rem;
}

.stayUpdated > * {
	margin: 0.75rem 0.75rem 0 0.75rem;
}

.bullet {
	display: flex;
	align-items: center;
}

.svg {
	padding: 1em;
	background-image: url(assets/images/icon-list.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

#emailSubmit {
	display: flex;
	flex-direction: column;
}

#emailSubmit > * {
	margin-top: 1em;
}

#emailSubmit label {
	font-size: 13px;
	font-weight: 700;
}

#emailSubmit input {
	border-radius: 5px;
	padding: 1.2em;
	margin-top: 0.5em;
	font-family: "Roboto", sans-serif;
}

#emailSubmit input[type="email"] {
	border: solid 1px gray;
	border-radius: 5px;
	margin-bottom: 1em;
}

#emailSubmit input[type="submit"] {
	border: none;
	background-color: hsl(235, 18%, 26%);
	color: hsl(0, 0%, 100%);
	font-weight: 500;
	cursor: pointer;
}

#emailSubmit input[type="submit"]:hover {
	background-color: hsl(235, 34%, 23%);
}

@media screen and (min-width: 700px) {
	body {
		background-color: hsl(235, 18%, 26%);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-size: 3em;
	}

	.container {
		display: flex;
		flex-direction: row-reverse;
		height: 70%;
		width: 80%;
		background-color: white;
		border-radius: 20px;
	}

	.bg-image {
		width: 50%;
		margin: 0;
		border: 15px solid white;
		border-radius: 20px;
	}

	.img {
		background-image: url(assets/images/illustration-sign-up-desktop.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
		padding: 50px;
		box-sizing: border-box;
		border-radius: 20px;
	}

	.stayUpdated {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.stayUpdated > * {
		margin: 0;
		padding-left: 1rem;
		padding-top: 0.2rem;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 50%;
		height: 60%;
	}

	.title {
		padding-bottom: 1rem;
	}
}
